---
title: Shree Govardhana Goshale
description: >-
---

<div class="eleven">
	<h1>Core Committee Members</h1>
</div>

<h2> Member and Honorary President:</h2>
Sri Jagadguru Shankaracharya
Sri Sri Gangadharendra Saraswati Mahaswamiji,
Sri Sonda Swarnavalli Mahasansthan, Sirsi

<h2>Founder Member and President:</h2>
<h3>Sri Ramakrishna Bhat, Hunashetti Kopp – 8762517674</h3>

Founder Members:

Sri V.N. Geragadde
Sri Nagesh Hegde, Panathageri
Secretary:
Sri Ganapati Bhat, Kolibena – 8762759240

Treasurer:
Sri Umashankar Bhat, Jaddigadde – 9743121491

Members:

Sri M.N. Bhat, Kavale – 9480018604
Sri Mahabaleshwar Bhat, Shigepala – 9449629726
Sri Vishweshwar Bhat, Artibail – 9353053421
Sri Ramakrishna Bhat, Kaudikere – 9480508509
Sri Narayan Karumane, Kondemane – 9448302539
Sri Ganapati Adikesar – 9482185679
Sri Ramakrishna Bhat, Gudepala – 8762200702
Sri Manjunath Bhat, Gundkal – 7411117981, 6362956018
Sri Vivek Ganapumane – 9481729858
Permanent Invitees:

Administrative Officers of the Math
Dr. Govinda S. Bhat, Sirsi (Medical Advisor)
Sri L.P. Bhat, Gundkal
Sri T.N. Bhat, Nedigemane
Sri G.N.G., Yellapur
Sri Kumarasubrahmanya Bhat, Handramane

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->
